@media screen and (max-width: 4000px) {
    :root {
        font-size: 18px;
    }
}

/* @media screen and (max-width: 1700px) {
    :root {
        font-size: 18px;
    }
} */

@media screen and (max-width: 1333px) {
    .title, .title > span, .title + span {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 1332px) {
    .title, .title > span, .title + span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1310px) {
    :root {
        font-size: 16px;
    }

    .contact-content {
        padding-bottom: 10rem;
    }
}

@media screen and (max-width: 1186px) {
    :root {
        font-size: 15.5px;
    }
}

@media screen and (max-width: 1148px) {
    #contacts-title {
        font-size: 4.5rem;
    }

    .title, .title > span, .title + span {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 974px) {
    #contacts-title {
        font-size: 4rem;
    }
}

@media screen and (max-width: 896px) {
    :root {
        font-size: 15px;
    }

    .copyright {
        margin-top: 1.9rem;
    }
}

@media screen and (max-width: 868px) {
    #contacts-title {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 846px) {
    .title, .title > span, .title + span {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 840px) {
    html {
        height: auto;
    }

    .contact-content {
        flex-direction: column-reverse;
    }

    .contact-info {
        width: 70%;
        align-items:  center;
    }

    .title, .title > span, .title + span {
        font-size: 2rem;
    }

    #contacts-title {
        font-size: 5rem;
    }

    .map > iframe {
        width: 40rem;
        height: 40rem;
    }
}

@media screen and (max-width: 810px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (max-width: 690px) {
    :root {
        font-size: 11px;
    }

    form#contact-form {
        width: 80%;
    }

    form#contact-form > div > textarea {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 640px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-width: 556px) {
    nav > ul {
        flex: 1.5;
        justify-content: space-evenly;
    }

    #logo {
        flex: 0.5;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 530px) {
    :root {
        font-size: 9px;
    }
}

@media screen and (max-width: 420px) {
    :root {
        font-size: 8px;
    }

    .map > iframe {
        width: 35rem;
        height: 35rem;
    }

    .contact-content {
        padding-bottom: 23rem;
        padding-top: 17rem;
    }

    .copyright {
        top: 0vh;
    }
}